body{
    background-color: rgb(231, 223, 223);
}

.info {
    display: inline-block;
    padding:   1em 1.3em;
    padding-left: 1.5em;
 }



.heading {
    display: inline-block;
    padding-right: 2em;
    color: rgb(14, 80, 63);
}

main{
    border: 0.02em solid ;
     border-radius: 0.2em ;
     background-color: rgb(218, 212, 212);
     padding: 2em;
}

.but{
    background-color:rgb(13, 114, 89);
    border: none;
    color: white;
    padding: 0.5em;
    text-align: center;
    font-size: 0.9em;
    border-radius: 0.3em;
}